@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  font-family: Baskerville, 'Times New Roman', Times, serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  margin: 0;

  &__nav {
    display: flex;
    gap: 1rem;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link--active {
    font-weight: bold;
    text-decoration: underline;
  }

  &__menu-button {
    background: none;
    border: none;
    color: blue; /* Couleur bleue pour l'icône du menu */
    font-size: 2rem;
    cursor: pointer;
    position: fixed; /* Fixer en haut à droite */
    top: 1rem;
    right: 1rem;
    z-index: 1001;
    display: none; /* Masquer par défaut */
  }

  &__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Ajouter une transition pour l'effet d'apparition/disparition */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--open {
      display: flex;
      opacity: 1; /* Rendre visible avec une transition */
    }

    &__link {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 1rem 0;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &__separator {
      width: 80%;
      height: 1px;
      background-color: #555;
      margin: 0.5rem 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    display: none; /* Masquer la barre noire du header en mode mobile */
  }

  .header__menu-button {
    display: block; /* Afficher l'icône du menu en mode mobile */
  }
}