.footer {
    background-color: #696969;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer a {
    color: white;
    font-size: 2em;
    display: block;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 5px 0;
  }