.courses-container {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center; /* Centrer le contenu */
  }
  
  .courses-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .courses-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer le contenu */
    margin-bottom: 30px; /* Ajouter plus d'espace entre chaque ligne */
    flex-wrap: wrap; /* Permettre aux éléments de se déplacer sur une nouvelle ligne si nécessaire */
  }
  
  .courses-date {
    font-weight: bold; /* Mettre les dates en gras */
    margin-right: 20px;
  }
  
  .courses-box {
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block; /* Ajuster la taille des rectangles */
    text-align: left; /* Aligner le texte à gauche à l'intérieur des rectangles */
  }
  
  /* Styles pour les appareils mobiles */
  @media (max-width: 768px) {
    .courses-content {
      flex-direction: column; /* Disposer les éléments en colonne */
      align-items: flex-start; /* Aligner les éléments à gauche */
    }
  
    .courses-date {
      margin-right: 0;
      margin-bottom: 10px; /* Ajouter un espace en bas pour séparer les dates des boîtes */
    }
  
    .courses-box {
      width: 100%; /* Prendre toute la largeur disponible */
      text-align: center; /* Centrer le texte à l'intérieur des boîtes */
    }
  }